<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul>
			<li>Name: <%=mission.name%></li>
			<li>launchDate: <%=mission.launchDate%></li>
			<li>operator: <%=mission.operator%></li>
			<li>missionType: <%=mission.missionType%></li>
			<li>img: <%=mission.img%></li>
	</ul>
</body>
</html>


<!--  name: "Curiosity",
    launchDate: "26 Nov 2011",
    operator: "NASA",
    missionType: "Rover",
    img: "" -->