<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul>
	<li><%=mission.name%></li>
	<li><%=mission.launchDate%></li>
	<li><%=mission.operator%></li>
	<li><%=mission.missionType%></li>
	<li><%=mission.img%></li>
	</ul>
</body>
</html>


<!-- launchDate: "26 Nov 2011",
    operator: "NASA",
    missionType: "Rover",
    img: " -->